# RPC & Wallet
PRIVATE_KEY=your_wallet_private_key
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Contract
CONTRACT_ADDRESS=
VITE_CONTRACT_ADDRESS=

# AI Agent (Groq)
GROQ_API_KEY=
VITE_GROQ_API_KEY=
VITE_RPC_URL=https://sepolia.base.org
